.admit-address {
    border: 1px solid #FF4400;
}

.admit-address div {
    font-weight: bold;
}

.one-of-address {
    display: block;

}

.font-phonenum {
    color: grey;
    font-size: 16px;
    font-weight: 700;
    margin-top: 2px;
    margin-bottom: 2px
}

.font-address {
    font-size: 13px;
    margin-top: 3px;
    margin-bottom: 3px
}

.hide {
    display: none;
}

.show {
    display: inline-block;
}