.full {
    display: block;
    width: 100%;
}

.boards {
    margin-top: 40px;
}

.panel-heading {
    font-size: 17px;
}

.panel-body {
    background: #fcfcfb !important;
}

.none-font {
    font-size: 15px;
}

.no-shop {
    padding-top: 50px;
    text-align: center;
}

.panel-body {
    background: #fcfcfb !important;
}

#none-shop {
    height: 76px;
    width: 81px;
}

.shop {
    width: 100%;
}

.shop-name {
    font-size: 20px;
    vertical-align: middle;
    margin-right: 10px;
}

.shop-head {

    width: 300px;
    float: left;
}

.shop-operate {
    float: right;
    padding-right: 30px;
    margin-top: 20px;
}

.shop-content {
    margin-top: 20px;
    padding-right: 30px;
    width: 800px;
    float: right;
}

.shop-photo-container {
    margin: 20px;
    border-radius: 5px;
    border: 2px solid #0a67fb;
}

#size-div {
    width: 80px;
    height: 90px;
    display: block;
    margin: 0 auto;
}

#size-word {
    width: 200px;
    height: 60px;
}

#size-but {
    width: 200px;
    height: 50px;
}

@media (min-width: 540px) {
    #none-shop {
        height: 76px;
        width: 81px;
        margin-top: 30px;
    }

    #size-div {
        width: 170px;
        height: 160px;
        display: inline-block;
        margin: 0 auto;
    }

    #size-div, #size-both {
        vertical-align: middle;
    }

    .none-font {
        font-size: 16px;
    }

}

@media (min-width: 789px) {
    #none-shop {
        height: 152px;
        width: 163px;
    }

    #size-div {
        width: 170px;
        height: 160px;
        display: inline-block;
        margin: 0 auto;
    }

    #size-both {
        margin-top: 50px;
    }

    #size-div, #size-both {
        vertical-align: middle;
    }

    .none-font {
        font-size: 16px;
    }

    #size-but {
        margin-top: 20px;
    }
}

@media (min-width: 992px) {
    #none-shop {
        height: 152px;
        width: 163px;
    }

    .none-font {
        font-size: 19px;
    }

    #change-line {
        display: none;
    }

    #size-div {
        width: 160px;
    }

    #size-word {
        width: 350px;
    }

    #size-but {
        width: 350px;
    }

}
