@font-face {
    font-family: 'rei';
    src: url('//i.alipayobjects.com/common/fonts/rei.eot?20150616#iefix') format('embedded-opentype'),
    url('//i.alipayobjects.com/common/fonts/rei.woff?20150616') format('woff'),
    url('//i.alipayobjects.com/common/fonts/rei.ttf?20150616') format('truetype'),
    url('//i.alipayobjects.com/common/fonts/rei.svg?20150616#rei') format('svg');
}

.footer {
    box-sizing: border-box;
    height: 100px;
    padding: 15px 0;
    line-height: 26px;
    text-align: center;
    background-color: #eee;
    color: #666;
    font-weight: 300;

}

a:focus {
    outline: none;
}

.footer a {
    padding: 0 5px;
}

.footer p {
    padding: 0;
    margin: 0;
    font-size: 14px;
}

.main {
    min-height: calc(100vh - 172px);
    max-width: 100%;
}

.navbar {
    padding: 10px;
    border-radius: 0;
}
