@font-face {
    font-family: "rei";
    src: url("//i.alipayobjects.com/common/fonts/rei.eot?20150616#iefix") format("embedded-opentype"),
    url("//i.alipayobjects.com/common/fonts/rei.woff?20150616") format("woff"),
    url("//i.alipayobjects.com/common/fonts/rei.ttf?20150616") format("truetype"),
    url("//i.alipayobjects.com/common/fonts/rei.svg?20150616#rei") format("svg");
}

.footer {
    text-align: center;
    height: 100px;
}

.main {
    min-height: calc(100vh - 172px);
    max-width: 100%;
}
