@font-face {
    font-family: 'rei';
    src: url('../fonts/rei.eot?#iefix') format('embedded-opentype'),
    url('../fonts/rei.woff') format('woff'),
    url('../fonts/rei.ttf') format('truetype'),
    url('../fonts/rei.svg?#rei') format('svg');
}

.footer {
    box-sizing: border-box;
    height: 100px;
    padding: 15px 0;
    line-height: 26px;
    text-align: center;
    background-color: #eee;
    color: #666;
    font-weight: 300;
}

a:focus {
    outline: none;
}

.footer a {
    padding: 0 5px;
}

.footer p {
    padding: 0;
    margin: 0;
    font-size: 14px;
}

.main {
    min-height: calc(100vh - 172px);
    max-width: 100%;
}

.navbar {
    padding: 10px;
    border-radius: 0;
}
