.good-pic {
    height: 400px;
    width: 400px;
}

.good-ul {
    list-style: none;
    padding-left: 0;
}

.good-ul li {
    margin-bottom: 15px;
}

.good-pic-container {
    width: 500px;
    display: inline-block;
    vertical-align: top;
}

.good-name {
    margin-bottom: 20px;
    min-height: 21px;
    height: 21px;
    font-size: 19px;
    font-weight: 700;
    line-height: 21px;
    color: #3c3c3c;
}

.good-property {
    display: inline-block;
    font-size: 15px;
    width: 80px;
    color: #6c6c6c;
}

.btn-area {
    margin-top: 40px;
}

.a-btn-buy {
    box-sizing: border-box;
    color: #e5511d;
    background: #ffe4d0;
    display: block;
    cursor: pointer;
    width: 134px;
    height: 38px;
    text-align: center;
    font-family: 'Hiragino Sans GB', 'microsoft yahei', sans-serif;
    font-size: 16px;
    line-height: 38px;
    border: 1px solid #f0cab6;
    border-radius: 2px;
    text-decoration: none;
}

.a-btn-buy:hover {
    border-color: #f0cab6;
    background: #ffd9bc;
}

.a-btn-add {
    box-sizing: border-box;
    width: 180px;
    color: #fff;
    background: #f40;
    display: block;
    cursor: pointer;
    height: 38px;
    text-align: center;
    font-family: 'Hiragino Sans GB', 'microsoft yahei', sans-serif;
    font-size: 16px;
    line-height: 38px;
    border: 1px solid #f40;
    border-radius: 2px;
    text-decoration: none;
}

.a-btn-add:hover {
    border-color: #f22d00;
    background: #f22d00;
}

.good-number {
    width: 30px;
    height: 20px;
    text-align: center;
}

.input-group-addon {
    width: 20px;
    height: 20px;
    padding: 0;
}

.input-group-addon:hover {
    background: #ddd;
}
