#seize {
    display: none;
}

#login-container {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    min-width: 300px;
    max-width: 100%;
    border: 1px solid #ddd;
    margin-top: 30px;
}

@media (min-width: 768px) {

    #seize {
        display: inline-block;
        width: 328px;
    }

    #login-container {
        display: inline-block;
        max-width: 100%;
        min-width: 300px;
    }

}

@media (min-width: 992px) {

    #seize {
        display: inline-block;
        width: 552px;
    }

}

@media (min-width: 1200px) {
    #seize {
        display: inline-block;
        width: 760px;
    }
}

@media (min-width: 1600px) {

    #seize {
        display: inline-block;
        width: 1160px;
    }

}

.input-gp {
    margin: 20px;
}

.captcha {
    display: inline-block;
    height: 30px;
    float: right;
}

.captcha-div {
    width: calc(100% - 90px);
    float: left;
}

.full {
    width: 100%;
}
