#shop-photo {
    margin: 30px 10px 0 75px;
    width: 199px;
    height: 200px;
}

.form-horizontal {
    margin-left: 10px;
    margin-top: 50px;
}

.form-group {
    width: 400px;
    margin-bottom: 30px;
}

.form-label {
    float: left;
}

.good-photo-container {
    width: 500px;
    display: inline;
    float: left;
    padding-left: 80px;
}

.good-description {
    margin-top: 50px;
    margin-left: 80px;
}