.search-suggest {
    box-sizing: border-box;
    position: absolute;
    z-index: 999;
    width: 615px;
    border: 1px solid #999;
    background-color: #fff;
    display: none;
}

.search-suggest li {
    height: 24px;
    color: #999;
    overflow: hidden;
    padding-left: 3px;
    line-height: 24px;
    background: #fff;
    cursor: default;
}

.search-suggest li.hover {
    background: #ebf2f9;
}

#search-suggestion {
    padding: 0;
}

#search-suggestion li {
    padding-left: 8px;
}
