.search_suggest {
    position: absolute;
    z-index: 999;
    left: 592px;
    width: 615px;
    border: 1px solid #999999;
    display: none;
}

.search_suggest li {
    height: 24px;
    color: #999999;
    overflow: hidden;
    padding-left: 3px;
    line-height: 24px;
    background: #FFFFFF;
    cursor: default;
}

.search_suggest li.hover {
    background: #DDDDDD;
}