.checkbox {
    margin-top: 2px;
    float: left;
}

.no-decoration {
    text-decoration: none;
}

.table-head {
    padding-left: 10px;
    padding-right: 10px;
}

em:hover {
    background: #fff6cb;
}

.td-inner {
    margin-top: 10px;
    margin-bottom: 10px;
}

.hr-shopcar {
    border: 1px solid #3280fc;
    min-height: 0;
    padding-right: 0;
    padding-left: 0;
}

.one-of-goods {
    box-sizing: border-box;
    padding-top: 20px;
    margin-top: 10px;
    height: 118px;
    background: #fcfcfc;
    border: 1px solid #ccc;
}

.one-of-goods:hover {
    background: #ebf2f9;
}

.good-photo {
    box-sizing: border-box;
    height: 80px;
    width: 80px;
    border: 1px solid #ddd;
    position: relative;
    left: 20px;
}

.good-number {
    width: 30px;
    height: 20px;
    text-align: center;
}

.input-group-addon {
    width: 20px;
    height: 20px;
    padding: 0;
}
