.checkbox {

    margin-top: 2px;
}

.td-inner {
    margin-top: 10px;
    margin-bottom: 10px;
}

.one-of-goods {
    margin-top: 10px;
}

.one-of-shops {
    padding-left: 14px;
    padding-top: 10px;
}